<ion-view view-title="About GoLocal!-Fayette">
<ion-content>
<h1>Connecting You to Your Community</h1>
<p>GoLocal! was designed with the small town resident in mind. Up-to-date information about what's going on in **your** community in the palm of your hand, whenever you need it. <br>

GoLocal! is:

<ion-item-group>
 <li>100% FREE to use</li>
 <li>Social Media Friendly</li>
 <li>Customizable</li>
 <li>Powered By YOU</li>
</ion-item-group><br>
ALL content can be browsed freely. 
<br>
NO SIGN UP REQUIRED but...<br>

IF you do sign up, you're eligible to receive information and amazing deals from local businesses right in your inbox or via the app. <br>

CANCEL at any time!<br>

And there's NEVER any cost, even with signup! So, what are you waiting for? 
</p>

<button ion-button class="button button-block button-positive" ng-click="register()">Join GoLocal! - Fayette</button>
<a ion-button class="button button-block button-positive" href="#/app/advertise">Submit a Business Listing</a>

</ion-content>
</ion-view>