<ion-view view-title="Listing Your Business with GoLocal!">
<ion-content>
<h1>Want to see your business listed here?</h1>
<h2>Advertise with GoLocal!</h2>

<p>If you're a business owner in Fayette County and you're reading this on your phone or tablet, then you are *already* proof of how powerful a tool GoLocal! can be for your business.<br>

Gone are the days of traditional print advertising. Information moves at the speed of light and the market's attention span is even shorter. Keeping up means keeping your brand, business, or product within easy reach of people's hands. <br>

GoLocal! -Fayette does exactly that. The app provides unbeatable marketing space at pennies on the dollar and provides you with the perfect way to capture new business and maintain recurring business.<br>

Getting your business listed is easy. Just fill out one easy form, send your annual payment in one lump sum amount, and, within 2 business days, your listing goes live on GoLocal! It's THAT easy!<br>

And, if you're super motivated to reach new customers, GoLocal! offers a special add on where you can provide registered users with special information and deals on your products and services. 
</p>
<h2>CLICK below to request a submission form and get started TODAY!</h2>
<button class="button button-block button-positive"  ng-click="requestInfo()">Request a GoLocal! Subscription Form</button>

</ion-content>
</ion-view>