<ion-header>
  <ion-navbar>
    <ion-title>Slides</ion-title>
  </ion-navbar>
</ion-header>
<ion-view view-title="Home">
<ion-content>

<h1>GoLocal! Fayette County</h1>
<h2>"Welcome Home Y'all!"</h2>
<p>The app that helps you find what you need!<br>
For information on local news, events, and services *AND* great special deals :<br>
GoLocal! - Fayette County <br>
has you completely covered,<br> 
FOR FREE!!!
</p>
<a ion-button class="button button-block button-positive" href="#/app/business_listings">Find A Business</a>
<a ion-button class="button button-block button-assertive" href="#/app/events">See Upcoming Events</a>
<a ion-button class="button button-block button-royal" href="#/app/account">My GoLocal! Account</a>
<a ion-button class="button button-block button-dark" href="#/app/about">About GoLocal!</a>
<p>Copyright 2017 - <a href="www.lscubed.net">LSCUBED</a> | GoLocal! | All Rights Reserved.</p>

</ion-content>
</ion-view>