<ion-header>
  <ion-navbar>
    <ion-title>Slides</ion-title>
  </ion-navbar>
</ion-header>
<ion-view view-title="Home">
<ion-content>

<h1>GoLocal! Fayette County</h1>
<h2>"Welcome Home Y'all!"</h2>
<p>
	
	
</p>
<button ion-button block><a href="#/app/business_listings">Find A Business</a></button>
<button ion-button block><a href="#/app/calendar">See Upcoming Events</a></button>
<button ion-button block><a href="#/app/account">My GoLocal! Account</a></button>
<button ion-button block><a href="#/app/about">About GoLocal!</a></button>
<p>Copyright 2017 - <a href="www.lscubed.net">LSCUBED</a> | GoLocal! | All Rights Reserved.</p>

</ion-content>
</ion-view>